In [16]:
#import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key
from config import g_key

In [17]:
#store the CSV you saved into a DataFrame
city_data_df =pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bonavista,CA,2020-04-04 20:08:41,48.65,-53.11,30.00,86,100,3.00
1,1,Jamestown,US,2020-04-04 20:04:23,42.10,-79.24,59.00,54,90,5.82
2,2,Mataura,NZ,2020-04-04 20:08:41,-46.19,168.86,53.01,82,77,4.00
3,3,Pavino,RU,2020-04-04 20:08:41,59.11,46.14,29.16,96,63,7.25
4,4,Rikitea,PF,2020-04-04 20:08:41,-23.12,-134.97,76.37,79,91,14.74
...,...,...,...,...,...,...,...,...,...,...
579,579,Ligayan,PH,2020-04-04 20:09:42,4.65,119.47,83.35,67,2,3.87
580,580,Visnes,NO,2020-04-04 20:09:42,59.36,5.22,44.60,87,100,11.41
581,581,Sandnessjoen,NO,2020-04-04 20:09:42,66.02,12.63,28.40,74,100,8.05
582,582,Rock Sound,BS,2020-04-04 20:09:43,24.90,-76.20,74.30,53,0,7.40
583,583,Erzin,TR,2020-04-04 20:09:43,36.96,36.20,62.01,76,75,4.70

In [18]:
# Configure gmaps to use you Google API key
gmaps.configure(api_key=g_key)

In [19]:
#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", "Long"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps=[]

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating =False, max_intensity=300, point_radius=4)

#Assign the figure variable
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Heatmap of humidity
#Get the latitude and longitude
locations = city_data_df[["Lat", "Long"]]

#Get the humidity
humidity = city_data_df["Humidity"]

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating =False, max_intensity=300, point_radius=4)

#Assign the figure variable
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Heatmap of cloudiness
#Get the latitude and longitude
locations = city_data_df[["Lat", "Long"]]

#Get the cloudiness %
cloudiness = city_data_df["Cloudiness"]

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, 
                                 dissipating =False, max_intensity=300, point_radius=4)

#Assign the figure variable
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Heatmap of wind speed
#Get the latitude and longitude
locations = city_data_df[["Lat", "Long"]]

#Get the wind speed
wind = city_data_df["Wind Speed"]

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating =False, max_intensity=300, point_radius=4)

#Assign the figure variable
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
#Filter the dataset to find the cities that fit the criteria
preferred_city_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"]<= max_temp)]
preferred_city_df.head(10)

,City_ID,City,Country,Date,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2020-04-04 20:08:41,-23.12,-134.97,76.37,79,91,14.74
5,5,Vaini,TO,2020-04-04 20:08:41,-21.20,-175.20,77.00,78,75,6.93
9,9,Thinadhoo,MV,2020-04-04 20:08:42,0.53,72.93,83.43,75,99,10.71
10,10,Cabedelo,BR,2020-04-04 20:08:42,-6.98,-34.83,86.00,74,20,10.29
11,11,Saint-Philippe,RE,2020-04-04 20:08:42,-21.36,55.77,78.80,78,4,12.75
12,12,Mitu,CO,2020-04-04 20:08:42,1.20,-70.17,83.59,76,95,2.48
19,19,Celestun,MX,2020-04-04 20:08:43,20.87,-90.40,85.08,60,67,14.70
21,21,Avarua,CK,2020-04-04 20:08:43,-21.21,-159.78,78.80,94,90,14.99
22,22,Goundam,ML,2020-04-04 20:08:43,16.41,-3.67,88.41,11,12,8.03
31,31,Warud,IN,2020-04-04 20:08:44,21.47,78.27,81.91,42,49,3.53

In [25]:
#Create DataFram called hotel_df to store hotel names along with city, country,max temp, and coordinates
hotels_df = preferred_city_df[["City", "Country", "Max Temp", "Lat", "Long"]].copy()
hotels_df["Hotel Name"] =""

In [26]:
#Set parameters to search for a hotel
params ={
        "radius":5000,
        "type":"lodging",
        "key":g_key,
        "location":","}

In [27]:
#Iterate through the DataFrame
for index, row in hotels_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Long"]
    
    #Add the latitude and longitude to location key for the params dictionary
    params["location"]=f"{lat},{lng}"
    
    #Use the search terms: :"lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params).json()
    
    #Grab the first hotel from the result and store the name
    try:
        hotels_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found. Skipping...")
hotels_df.head(10)

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

,City,Country,Max Temp,Lat,Long,Hotel Name
4,Rikitea,PF,76.37,-23.12,-134.97,Pension Maro'i
5,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
9,Thinadhoo,MV,83.43,0.53,72.93,
10,Cabedelo,BR,86.00,-6.98,-34.83,Lua Mansa Pousada
11,Saint-Philippe,RE,78.80,-21.36,55.77,"Chambres d'hÃ´te ""La TrinitÃ©"""
12,Mitu,CO,83.59,1.20,-70.17,
19,Celestun,MX,85.08,20.87,-90.40,Posada Lilia
21,Avarua,CK,78.80,-21.21,-159.78,Paradise Inn
22,Goundam,ML,88.41,16.41,-3.67,
31,Warud,IN,81.91,21.47,78.27,Surendra parihar jamthi

In [28]:
#Add a heatmap of temperature for the vacation spots
locations = hotels_df[["Lat", "Long"]]
max_temp = hotels_df["Max Temp"]
info_box_template= "<dl><dt>Hotel Name</dt><dd>{Hotel Name}</dd><dt>City</dt><dd>{City}</dd><dt>Country</dt><dd>{Country}</dd><dt>Max Temp</dt><dd>{Max Temp}F</dd></dl>"
hotels_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

#Assign the figure variable
fig =gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating =False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotels_info)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))